.menu {
  background-color: dimgray;
    margin: 10px, 30px;
    padding: 20px;
    font-weight: bold;
}
.menu a{
    text-decoration: none;
    margin-right: 30px;
    color: brown;
}
.menu a:hover{
    text-decoration: none;
    margin-right: 30px;
    color: rgba(52, 165, 42, 0.349);
}